
@media only screen and (max-width: 992px){
    header nav button#nav-toggler{
        display: block;
    }

    header nav button#nav-toggler img{
        width: 40px;
        height: auto;
    }

    header nav ul.flex{
        display: none;
    }
}