@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

:root{
    --primary-color: rgb(230, 83, 60);
    --white-color: rgb(255, 255, 255);
}

/* Shared CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;                                 
}

h1, h2, h3, h4, h5, h6{
    color: var(--white-color);
}

p{
    color: rgb(255, 255, 255, .5);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 12px 60px;
    background: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
}

.btn-transparent{
    background: transparent;
    border-color: var(--white-color);
}

.flex{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 20px;
}

.badge{
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
}

.badge h3{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
}

.badge h3.badge-txt-large{
    font-size: 34px;
}

.badge span{
    color: rgba(239, 237, 232, 0.65);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.title-box{
    text-align: center;
    width: 100%;
    max-width: 670px;
    padding: 0 10px;
    margin: 0 auto;
}

.title-box h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 900;
}

.title-box p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
}

header, main{
    background: rgb(17, 17, 17);
}

/* Header CSS */
header nav{
    padding: 35px 0;
}

header nav h2.logo a{
    color: var(--primary-color);
    font-size: 36px;
    font-style: italic;
}

header nav ul{
    gap: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 5px;
}

header nav ul li a{
    color: var(--white-color);
    font-size: 18px;
    display: block;
    padding: 8px 20px;
    font-weight: 300;
}

header nav ul li a.active{
    background: var(--primary-color);
    border-radius: 50px;
    font-weight: 600;
}

header nav button#nav-toggler{
    display: none;
}


/* banner CSS */
.banner {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.062) 100%);
}

.banner .container{
    position: relative;
    background: url(img/images\ 2.png) no-repeat;
    background-position: right center;
    background-size: contain;
    padding: 40px 10px;
}

.banner .banner-contents{
    width: 100%;
    max-width: 520px;
}

.banner .banner-contents h1{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 30px;
}

.banner .banner-contents h1 span{
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
}

.banner .banner-contents p {
    font-size: 16px;
    margin: 25px 0;
    line-height: 28px;
}

.banner .banner-buttons{
    width: 100%;
    max-width: 800px;
    align-items: center;
}

.banner .banner-buttons .pair a{
    margin-right: 15px;
}

.banner .banner-buttons .badge{
    align-items: center;
    gap: 10px;
}

.banner .banner-buttons .badge .badge-icon img{
    width: 35px;
}

.banner .abs-badge{
    position: absolute;
    top: 150px;
    right: -150px;
}

/* Change your habit CSS */
.cngHabits{
    padding: 100px 20px;
    text-align: center;
}

.cngHabits .cngHabits-wrap{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: space-between;
}

.cngHabits .cngHabits-wrap .single-habit img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 5px solid #1A1A1A;;
}

.cngHabits .cngHabits-wrap .single-habit h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cngHabits .cngHabits-wrap .single-habit p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}

/* Run extra mile CSS */
.runExtraMile{    
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 20px 30px;
}

.runExtraMile .title-box {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    height: 100%;
    padding-right: 160px;
    gap: 15px;
}

.runExtraMile .title-box h2{
    margin-bottom: 0;
}

.runExtraMile .title-box a.btn{
    font-weight: 400;
    letter-spacing: .5px;
}

.runExtraMile .right_runExtraMile .thumb-wrap{
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow: hidden;
}

.runExtraMile .right_runExtraMile .thumb-wrap img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 15px;
}


/* BMI Calculator CSS */
.bmiCalculator .title-box{
    padding: 70px 10px;
    margin-top: 30px;
}

.bmiCalculator .cal-bg {
    background: rgba(255, 255, 255, .1);
    padding: 50px 0;
    box-shadow: 0 0 10px 5px #40404057 inset;
}

.bmiCalculator .calculator-wrap .calculator-left{
    flex-basis: 35%;
}

.bmiCalculator .calculator-wrap h3{
    font-size: 24px;
    margin-bottom: 50px;
}

.bmiCalculator .calculator-wrap .calculator-left .cal-left-contents table{
    border-collapse: collapse;
    border-radius: 3px;
}

.bmiCalculator .calculator-wrap .calculator-left .cal-left-contents table th{
    text-align: left;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 400;
    border: 1px solid rgb(255, 255, 255, .1);
    padding: 12px 20px;
}

.bmiCalculator .calculator-wrap .calculator-left .cal-left-contents table td{
    padding: 12px 20px;
    border: 1px solid rgb(255, 255, 255, .1);
    font-weight: 300;
    color: rgb(255, 255, 255, .5);
    font-size: 14px;
}

.bmiCalculator .calculator-wrap .calculator-right{
    flex-basis: 55%;
}

.bmiCalculator .calculator-wrap .calculator-right h3{
    margin-bottom: 0;
}

.bmiCalculator .calculator-wrap .calculator-right p {
    margin: 20px 0;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 24px;
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs select{
    background: url(img/icons/angle-down.png) no-repeat;
    background-position: right 20px center;
    appearance: none;
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs input, 
.bmiCalculator .calculator-wrap .calculator-right .bmiInputs select{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255, .5);
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs input::placeholder{
    color: rgb(255, 255, 255, .5);
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs select option:not(first-child){
    color: rgba(59, 57, 57, 0.925);
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs select.full-col{
    grid-column: 1/-1;
}

.bmiCalculator .calculator-wrap .calculator-right form button{
    margin-top: 30px;
}

.bmiCalculator .calculator-wrap .calculator-right .bmiInputs input:focus,
.bmiCalculator .calculator-wrap .calculator-right .bmiInputs select:focus{
    outline: 0;
    background-color: rgba(255, 255, 255, 0.352);
}


/* Team CSS */
.team{
    padding: 100px 0;
}

.team .team-wrap{
    margin-top: 50px;
    display: grid;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    background: #191919;
    grid-template-columns: repeat(3, 1fr);
}

.team .team-wrap .single-trainer .trainer-details{
    height: 250px;
    position: relative;
}

.team .team-wrap .single-trainer .trainer-details .trainer-name {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.team .team-wrap .single-trainer .trainer-details .trainer-name h4{
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 5px;
}

.team .team-wrap .single-trainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Review CSS */
.review{
    padding-bottom: 50px;
}

.review .review-wrap{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.review .review-wrap .single-review {
    flex-wrap: wrap;
    border: 1px solid rgb(255, 255, 255, .2);
    background: #191919;
    border-radius: 80px 0 80px 0;
    padding: 25px;
}

.review .review-wrap .single-review:nth-child(2),
.review .review-wrap .single-review:nth-child(3){
    border-radius: 0 80px 0 80px;
}

.review .review-wrap .single-review .reviewer-thumb{
    flex-basis: 30%;
}

.review .review-wrap .single-review .reviewer-thumb img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #76757594;
    padding: 10px;
    background: #f2a96c14;
}

.review .review-wrap .single-review .client-review{
    flex-basis: 69%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 15px;
}

.review .review-wrap .single-review .client-review h4{
    font-style: italic;
}

.review .review-wrap .single-review .client-review p{
    font-size: 14px;
}

/* Footer CSS */
footer{
    background: #191919;
}

footer .footer-items-wrap{
    padding: 60px 0;
}

footer .footer-items-wrap .single-footer{
    flex-basis: 25%;
}

footer .footer-items-wrap .single-footer:first-child{
    flex-basis: 35%;
}

footer .footer-items-wrap .single-footer h4 {
    margin-bottom: 40px;
    font-size: 32px;
}

footer .footer-items-wrap .single-footer h4.logo{
    color: var(--primary-color);
    font-size: 70px;
    font-style: italic;
}

footer .footer-items-wrap .single-footer p{
    font-size: 14px;
    line-height: 22px;
}

footer .footer-items-wrap .single-footer ul li{
    margin: 15px 0;
}

footer .footer-items-wrap .single-footer ul li a {
    color: rgb(255, 255, 255, .5);
    font-size: 23px;
}

footer p.copyright{
    border-top: 1px solid rgb(255, 255, 255, .2);;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
}